<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <!-- arm support 0*0.23*1.7-->
  <link name="world" />
  <link name="base_support_cylinder_link_0" >
      <visual>
        <geometry>
         <cylinder length="0.15" radius="0.16" />
        </geometry>
        <material name="LightGrey">
          <color rgba="0 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.15" radius="0.12" />
        </geometry>
      </collision>
    </link>
  <link name="base_support_cylinder_link" >
      <visual>
        <geometry>
         <cylinder length="1.0" radius="0.085" />
        </geometry>
        <material name="LightGrey">
          <color rgba="0 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder length="1.0" radius="0.05" />
        </geometry>
      </collision>
    </link>
  <link name="base_support_cylinder_link_2" >
      <visual>
        <geometry>
         <cylinder length="0.5" radius="0.05" />
        </geometry>
        <material name="LightGrey">
          <color rgba="0 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.5" radius="0.05" />
        </geometry>
      </collision>
    </link>

  <link name="base_support_box_link" >
      <visual>
        <geometry>
         <box size="0.1 0.46 0.1" />
        </geometry>
        <material name="LightGrey">
          <color rgba="0 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.1 0.40 0.1" />
        </geometry>
      </collision>
    </link>

  <!-- arm world origin -->
  <link name="arm_world_link" >
  </link>

  <!-- table 1.4*0.7*0.725-->
  <link name="table_top_link" >
      <visual>
        <geometry>
         <box size="1.4 0.7 0.025" />
        </geometry>
        <material name="LightGrey">
          <color rgba="0 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="1.4 0.7 0.025" />
        </geometry>
      </collision>
    </link>

  <link name="table_leg_link_1" >
      <visual>
        <geometry>
         <box size="0.06 0.03 0.725" />
        </geometry>
        <material name="LightGrey">
          <color rgba="0 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.06 0.03 0.725" />
        </geometry>
      </collision>
    </link>

  <link name="table_leg_link_2" >
      <visual>
        <geometry>
         <box size="0.06 0.03 0.725" />
        </geometry>
        <material name="LightGrey">
          <color rgba="0 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.06 0.03 0.725" />
        </geometry>
      </collision>
    </link>

  <link name="table_leg_link_3" >
      <visual>
        <geometry>
         <box size="0.06 0.03 0.725" />
        </geometry>
        <material name="LightGrey">
          <color rgba="0 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.06 0.03 0.725" />
        </geometry>
      </collision>
    </link>

  <link name="table_leg_link_4" >
      <visual>
        <geometry>
         <box size="0.06 0.03 0.725" />
        </geometry>
        <material name="LightGrey">
          <color rgba="0 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.06 0.03 0.725" />
        </geometry>
      </collision>
    </link>

  <!-- table joint -->
  <joint name="table_top_joint" type="fixed">
    <parent link="world" />
    <child link ="table_top_link" />
    <origin xyz="0.0 0.45 0.725" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="table_leg_joint_1" type="fixed">
    <parent link="table_top_link" />
    <child link ="table_leg_link_1" />
    <origin xyz="0.67 0.335 -0.3625" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="table_leg_joint_2" type="fixed">
    <parent link="table_top_link" />
    <child link ="table_leg_link_2" />
    <origin xyz="0.67 -0.335 -0.3625" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="table_leg_joint_3" type="fixed">
    <parent link="table_top_link" />
    <child link ="table_leg_link_3" />
    <origin xyz="-0.67 0.335 -0.3625" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="table_leg_joint_4" type="fixed">
    <parent link="table_top_link" />
    <child link ="table_leg_link_4" />
    <origin xyz="-0.67 -0.335 -0.3625" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- arm support joint -->
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link ="base_support_cylinder_link_0" />
    <origin xyz="0.0 0.0 0.075" rpy="0.0 0.0 1.5708" />
  </joint>

  <joint name="cylinde_cylinder_link_0" type="fixed">
    <parent link="base_support_cylinder_link_0" />
    <child link ="base_support_cylinder_link" />
    <origin xyz="0.0 0.0 0.575" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="cylinde_cylinder_link" type="fixed">
    <parent link="base_support_cylinder_link" />
    <child link ="base_support_cylinder_link_2" />
    <origin xyz="0.0 0.0 0.75" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="box_cylinder_link" type="fixed">
    <parent link="base_support_cylinder_link_2" />
    <child link ="base_support_box_link" />
    <origin xyz="0.0 0.0 0.3" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="base_world_joint" type="fixed">
      <parent link="base_support_box_link" />
      <child link = "arm_world_link" />
      <origin xyz="0.0 0.23 0.0" rpy="0.0 0.0 -1.5708" />
  </joint>

  <!-- connet arm base_link -->
  <joint name="base_support_joint_L" type="fixed">
      <parent link="arm_world_link" />
      <child link = "base_link" />
      <origin xyz="0.0 0.0 0.0" rpy="-0.61548 -2.61799 0.955316" />
  </joint>

</robot>
